<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property> -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

        <!-- Database setup -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost/rbl_data</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>

        <!-- Automatically create database structure on session start -->
        <property name="hibernate.hbm2ddl.auto">create</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>


        <property name="hibernate.id.new_generator_mappings">SEQUENCE</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- List of mapping files -->

        <mapping class="data.model.Logic"/>
        <mapping class="data.model.Actuator"/>
        <mapping class="data.model.ExecutionFrequency"/>
        <mapping class="data.model.Condition"/>
        <mapping class="data.model.LogicReceiver"/>
        <mapping class="data.model.LogicInitiator"/>
        <mapping class="data.model.Instruction"/>





    </session-factory>
</hibernate-configuration>