<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property> -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

        <!-- Database setup -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost/rbl_data</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">penis</property>

        <!-- Automatically create database structure on session init -->
        <property name="hibernate.hbm2ddl.auto">create</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>


        <property name="hibernate.id.new_generator_mappings">SEQUENCE</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
		<!--<property name="format_sql">true</property>-->
		<!--<property name="use_sql_comments">true</property>-->


		<!-- List of mapping files -->

        <mapping class="rbl.data.model.logic.Logic"/>
        <mapping class="rbl.data.model.logic.ExecutionFrequency"/>
        <mapping class="rbl.data.model.logic.Condition"/>
        <mapping class="rbl.data.model.Module"/>
        <mapping class="rbl.data.model.User"/>
        <mapping class="rbl.data.model.logic.Trigger"/>
        <mapping class="rbl.data.model.logic.Action"/>

    </session-factory>
</hibernate-configuration>